{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Hwanjun's blog</title>
</head>
<body>
    <div>
        <h1 class="page-header">hwanjun's blog 소개</a></h1>
        <p> This is hwanjun's blog!! This is hwanjun's blog!! This is hwanjun's blog!! This is hwanjun's blog!! </p>
        <p> This is hwanjun's blog!! This is hwanjun's blog!! This is hwanjun's blog!! This is hwanjun's blog!! </p>
        <p> This is hwanjun's blog!! This is hwanjun's blog!! This is hwanjun's blog!! This is hwanjun's blog!! </p>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

    <div class="favorites-header">
        <h1>--Favorites--</h1>
    </div>
    <div class="favorites">
        <div>
            <h3><a href="https://my.dgist.ac.kr">DGIST Portal</a></h3>
        </div>
        <div>
            <p>"Hello World!"</p>
            <h3><a href="https://mail.dgist.ac.kr">DGIST mail</a></h3>
            <p>디지스트 메일!</p>
        </div>
    </div>

</body>
</html>